.itempagecontainer {
  gap: 1em;
  /* padding-top: 1em; */
  padding: 2em 1em;
  /* background-color: pink; */
}
.itempagecategory {
  color: var(--color-grey8b);
  padding: 1em 1em 2em 1em;
  text-decoration: underline;
  /* background-color: pink; */
}

.itemimage {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;

  /* max-width: 800px; */
  /* max-height: 600px; */
}
.itemcontainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  padding-top: 2em;
}
.desktoptext {
  display: none;
}
.mobiletext {
  margin-top: 1em;
  display: grid;
  gap: 1em;
}
.priceandrating {
  margin-top: 3em;
  display: grid;
  gap: 0.5em;
  margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  .itemcontainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .desktoptext {
    display: grid;
    gap: 1em;
  }
  .mobiletext {
    display: none;
  }
}
