nav {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 1em;
  background-color: var(--color-bgblack);
  opacity: 0.99;

  text-align: center;
  position: sticky;
  top: 0;
}

.linkcontainer {
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: space-between;

  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
}
.logo {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
/*
*The Animated underline code below
*/
.navlinks {
  color: var(--col-dark10);
  padding: 1.2em 0em;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.8;
}

.navlinks:hover {
  opacity: 1;
}
.navlinks::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: white;
}
.navlinksfadeup::before {
  width: 104%;
  bottom: 1px;
  opacity: 0;
}
.navlinksfadeup:hover::before {
  bottom: 10px;
  opacity: 1;
}
/*
*Animated line code stops here
*/

@media only screen and (min-width: 768px) {
  .linkcontainer {
    width: 700px;
  }
}
