nav {
  /* width: 1200px; */
  /* position: fixed; */
  padding: 1em;
  display: flex;
  justify-content: center;
  gap: 4em;
  /* background-color: coral; */
  background-color: var(--col-dark80);
}

a {
  text-decoration: none;
}
/*
*The Animated underline code below
*/
.navlinks {
  color: var(--col-dark10);
  padding: 1.2em 0em;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.8;
}
.navlinks:hover {
  opacity: 1;
}
.navlinks::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: white;
}
.navlinksfadeup::before {
  width: 100%;
  bottom: 1px;
  opacity: 0;
}
.navlinksfadeup:hover::before {
  bottom: 10px;
  opacity: 1;
}
/*
*Animated line code stops here
*/
