.pagecontainer {
  margin: 0px auto;
  margin-bottom: 3em;
  /* text-align: center; */
  padding: 0em 1em;
}
.headercontainer {
  text-align: center;
}
.clearbutton {
  font-size: 1rem;
  padding: 1.25em;
  font-weight: 700;
  text-align: center;

  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: var(--color-newwhite);
  color: var(--color-black);
  border: 1px solid var(--color-bodytext);
}
.clearbutton:hover {
  text-decoration: line-through;
}
.productcontainer {
  display: flex;
  height: 100px;
  min-width: 370px;
  gap: 0.5em;

  margin-bottom: 2em;
}
.productinfo {
  width: 100%;

  padding: 1em 0em;
  display: flex;
  flex-direction: column;
}

.productimage {
  width: 80px;
  object-fit: contain;
}

.quantityandpricecontainer {
  /* background-color: blue; */
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.quantitycontainer {
  font-size: 1rem;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-grey8b);
  width: fit-content;
}
.quantitydisplay {
  width: 16px;
  text-align: center;
}

.buttonquantity {
  padding: 0.5em 1em;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
}

.buttonremove {
  font-size: 1rem;
  border: none;
  background-color: white;

  cursor: pointer;
  padding: 1em;
}

@media only screen and (min-width: 768px) {
  /* .productcontainer {
    max-width: 970px;
  } */
}
