/*
* PAGE TITLE ETC
*/
.pagecontainer {
  margin: 0px auto;
  margin-bottom: 3em;
  /* text-align: center; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  padding: 0em 1em;
}
.headercontainer {
  text-align: center;
  padding: 1em;
}

/*
* ITEM CONTAINER
*/
.titleandprice {
  display: flex;
  justify-content: space-between;
}
.quantityanddeletebutton {
  display: flex;
  align-items: center;
}
.productcontainer {
  display: flex;
  height: 130px;
  min-width: 320px;
  gap: 0.5em;
  margin-bottom: 2em;
  border-top: 1px solid lightgray;
}
.productinfo {
  width: 100%;
  font-size: 14px;
  padding: 1em 0.2em;
  display: flex;
  flex-direction: column;
  /* gap: 0.75em; */
}
.itemtitle {
  height: 50px;
  width: 70%;
}
.productimage {
  width: 70px;
  object-fit: contain;
}
/*
// AMOUNT OF ITEMS
*/
.quantityandpricecontainer {
  display: flex;
  align-items: center;
}
.quantitycontainer {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-grey8b);
  width: fit-content;
  overflow: hidden;
}
.quantitydisplay {
  width: 20px;
  text-align: center;
}
.buttonquantity {
  padding: 0.5em 1em;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
  cursor: pointer;
}
.buttonremove {
  font-size: 1rem;
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 1em;
}

/*
*Total amount and CTA Section
*/
.paysection {
  display: grid;
  gap: 0.5em;
  border-top: 1px solid lightgray;
  align-items: center;
  /* padding-top: 1em; */
  padding: 2em 0em 0em 0em;
}

.totalamountcontainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.4em;
}
.totalamount {
  text-align: end;
}
.clearbutton {
  font-size: 1rem;
  padding: 1.25em;
  font-weight: 700;
  text-align: center;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: var(--color-newwhite);
  color: var(--color-black);
  border: 1px solid var(--color-bodytext);
}
.clearbutton:hover {
  text-decoration: line-through;
}

@media only screen and (min-width: 1024px) {
  .pagecontainer {
    grid-template-columns: repeat(6, 1fr);
  }

  .productsection {
    grid-column: 1 / 5;
  }
  .paysection {
    grid-column: 5 / 7;
    border-top: none;
    border-left: 1px solid lightgray;
    /* padding-left: 1em; */
    height: fit-content;
    padding: 0em 0em 0em 1em;
  }
}

/* @media only screen and (min-width: 768px) */
