/* Step1.module.css */
.step1-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.productList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
  /* list-style: none; */
}

.productCard {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1em;
  border: 1px solid #ddd;
  background-color: #fff;
}
img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.ctaButtons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5em;
}

.buttonBuy,
.buttonAdd {
  padding: 0.8em 1em;
  cursor: pointer;
}

.buttonBuy {
  background-color: #272829;
  border: none;
  color: #faf3f0;
}
.buttonAdd {
  background-color: #faf3f0;
  border: 1px solid #272829;
  color: #272829;
}
