.checkoutcontainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.25em;
  margin-top: 1em;
  /* text-align: center; */
  /* background-color: pink; */
}
label {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* gap: 0.2em; */
  font-size: 14px;
}
select.noAppearance {
  -webkit-appearance: none;
}
input,
select {
  /* padding: 0.75em 0em; */
  height: 2.5rem;
  border: none;
  border-bottom: 1px solid #9a9a9a;
  border-radius: 0px;
}
select {
  appearance: none;
  height: 2.5rem;
  font-size: 1rem;
  background-color: white;
  color: lightgray;
}

.expirationandcvc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
