.checkoutcontainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* gap: 1.25em; */
  gap: 1.75em;
  margin-top: 1em;
  /* text-align: center; */
  /* background-color: pink; */
}
label {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* gap: 0.2em; */
  font-size: 14px;
  color: #9a9a9a;
}

input,
select {
  /* padding: 0.75em 0em; */
  padding-left: 0.5em;
  height: 2.5rem;
  border: none;
  border-bottom: 1px solid #9a9a9a;
  border-radius: 0px;
  margin-top: 0.2em;
  font-size: 1rem;
}
select {
  appearance: none;
  /* height: 2.5rem; */
  background-color: white;
  color: #6a6a6a;
  cursor: pointer;
}
.datepicker {
  /* appearance: none; */
  background-color: white;
  color: #6a6a6a;
}

.expirationandcvc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
