.container {
  background-color: rgb(247, 255, 247);
  text-align: center;
  padding: 1em;
  color: #333333;
  height: 100vh;
}

.lottieanimation {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 4em;
}

.linkreturn {
  font-weight: 700;
  color: #333333;
}

.linkreturn:hover {
  text-decoration: underline;
}
