/* Rating.css */

.rating,
.star {
  font-size: 0.8rem;
}

.rating {
  display: inline-block;

  align-items: center;
}

.star {
  /* color: #f0c935;  */
  color: var(--color-bgblack);
  margin-right: 4px; /* Adjust spacing between stars */
}

.filled-star {
  /* color: #ffda44;  */
}

@media only screen and (min-width: 768px) {
  .rating,
  .star {
    font-size: 0.9rem;
  }
}
