/* Rating.css */

.rating,
.star {
  font-size: 0.7rem;
}

.rating {
  display: inline-block;
  align-items: center;
}

.star {
  /* color: #f0c935;  */
  color: var(--color-bgblack);
  margin-right: 4px; /* Adjust spacing between stars */
}

@media only screen and (min-width: 768px) {
}
