/* Rating.css */

.rating {
  display: inline-block;
  font-size: 0.8em;
  align-items: center;
}

.star {
  /* color: #f0c935;  */
  color: var(--color-bgblack);
  margin-right: 4px; /* Adjust spacing between stars */
  font-size: 0.75em;
}

.filled-star {
  /* color: #ffda44;  */
}
