*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --col-dark80: #323232;
  --col-dark60: #646464;
  --col-dark40: #969696;
  --col-dark20: #c8c8c8;
  --col-dark10: #fafafa;
  --col-cta1: #3d6cfc;
  --color-black: #111111;
  --color-bodytext: #555555;
  --color-grey8b: #8b8b8b;
  --color-bgblack: #333333;
  --color-newwhite: #fcfcfc;
}

html {
  /* font-family: "Bricolage Grotesque", sans-serif; */
  font-family: "Inter", sans-serif;
  /* font-family: "Work Sans", sans-serif; */
  background-color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: "Bricolage Grotesque", sans-serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.buttonadd {
  border: none;
  font-size: 1rem;
  padding: 1.25em;
  font-weight: 700;
  text-align: center;
  background-color: var(--color-bgblack);
  color: var(--color-newwhite);
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 1em;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
}
/* .displayhover {
  display: none;
}
.displayhover:hover {
  display: inline;
} */
.secondary {
  background-color: var(--color-newwhite);
  color: var(--color-black);
  border: 1px solid var(--color-bodytext);
}
.buttonadd:hover {
  text-decoration: underline;
}
