*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --col-dark80: #323232;
  --col-dark60: #646464;
  --col-dark40: #969696;
  --col-dark20: #c8c8c8;
  --col-dark10: #fafafa;
  --col-cta1: #3d6cfc;
  --color-black: #111111;
  --color-bodytext: #555555;
  --color-grey8b: #8b8b8b;
  --color-bgblack: #333333;
  --color-newwhite: #fcfcfc;
}

html {
  /* background-color: antiquewhite; */
  font-family: "Barriecito", cursive;
  font-family: "Work Sans", sans-serif;
  background-color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: rgba(255, 255, 255, 0.2); */
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  /* box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1); */
}
